

{% extends "base.html" %}
{% block content %}
{% load static %}


<style>
    input[type=nom] {
    width: 200px;
    height: 30%;
    padding: 12px 15px;
    text-align: center;
    box-sizing: border-box;
    border: none;
    background-color: white;
    color:black;
  }
  .aa{
	
	width:300px;
  height: 60px;
	color: #fff;
	background: #F7941D;
	
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 5;
	
	padding:9px 4px;


}
.aa:hover{
	color:#fff;
	background:#333;
}
</style>  

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="/eshop/">Acceuil<img  style="width: 10px;" src="{%   static 'images/fleche.png'  %}"></a></li>
                        <li ><a href="">Mes commandes</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

<!-- End Breadcrumbs -->
     
<!-- Shopping Cart -->

    <div class="container">
        <div class="row">
            <div class="col-12">
               
                    {% csrf_token %}
                <table class="table shopping-summery">
                    <thead>
                        <tr class="main-hading">
                            <th style="color:#16324d">Article</th>
                            <th style="color:#16324d">Code article</th>
                            
                            <th style="color:#16324d" class="text-center">Quantité</th>
                           
                            <th style="color:#16324d" class="text-center">Prix TTC</th>
                            <th style="color:#16324d" class="text-center">Date</th>
                            <th style="color:#16324d" class="text-center">TOTAL</th> 
                           
                        </tr>
                    </thead>
                    <tbody>

                        {% if  request.user %}
                        {% for omar in cc %}
                        {% include 'messages.html'%}
                        <form method="post">
                        <tr> 
                            <td class="image" data-title="No"><img src="https://via.placeholder.com/100x100" alt="#"></td>
                            <td>
                            <input type="nom" class="nom" readonly id="COD_ART"name="COD_ART" value=  {{omar.COD_ART}}>
      
                        
                            </td>
                            <td ><!-- Input Order -->
   
                            <input  type="nom" class="nom" readonly id="quantité" name="quantité"  value=  {{omar.quantité}}>
                                    
                                    
                            </td>
                          
                            <td class="price" data-title="Price"><input type="nom" class="nom" readonly id="prix_vente_ttc"name="prix_vente_ttc" value=  "{{omar.prix_vente_ttc}}"></td>
                           
                           
                            <td> <input type="nom" class="nom" readonly id="date"name="date" value=  "{{omar.date}}"></td>
                            <td class="total-amount" data-title="Total">  <input  type="nom" class="nom" readonly id="total" name="total"  value= {{omar.total}}></td>
                            
                        </tr>
                        {% endfor %}
                        {% endif%}
                        
                    </tbody>
                </table>
            </div>   
            </div>
        </div>
        <center>
            <div class="aa ">
        
                <a  href="javascript:window.print()">Imprimer</a>
           
        </div></center>
    </div>
</div>

{%endblock%}



